dist/

# Mac
.DS_Store

# VSCode
.vscode/

# Jetbrains
.idea/

# e2e test aux output
/test/restapitest/mattermost.log
/test/restapitest/notifications.log
/test/restapitest/data

node_modules

# translations
assets/i18n/translate.*.json
